# Dev Related
venv

# IDE
.vscode
.idea

# Linting
.mypy_cache

# Python
**/__pycache__

# Pulumi Lambda Deployment Artifacts
.deployments

# Dev Pulumi Deployment Configs
Pulumi.dev*.yaml

# pytest cov
.coverage

# pyenv
.python-version

**/.aws-sam