# CI
bandit
mypy
pylint
yapf
pulumi>=3.0.0,<4.0.0
pulumi-aws>=4.0.0,<5.0.0
types-requests

# sentry-asana-integration
# TODO: install the per-projct dependencies in CircleCI by finding & using
# the per-project requirement.txts and leaving this top level requirements.txt strictly for CI/CD
# related dependencies
asana @ git+https://github.com/Asana/python-asana.git@v0.10.8
boto3==1.20.38
requests==2.27.1

